@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$pink-palette);
$accent: mat.define-palette(mat.$blue-gray-palette);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);
$success: mat.define-palette(mat.$green-palette);
$accent-color: mat.get-color-from-palette($accent);
$primary-color: mat.get-color-from-palette($primary);
$warn-color: mat.get-color-from-palette($warn);
$success-color: mat.get-color-from-palette($success);

$screen-sm: 599px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
