@use 'src/styles/variables' as var;

:host {
  display: block;
}

.title {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.value {
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  border-bottom: 1px solid var.$accent-color;
  margin-bottom: 1rem;
  color: transparentize(white, 0.25);
}
