<h3>Now you need to select the date and total value of this transaction</h3>

<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input
      matInput
      formControlName="date"
      appMask="date"
      [matDatepicker]="datepicker"
      (keydown.enter)="totalInput.focus()"
      appAutoFocus
    />
    <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
    <mat-error *ngIf="form.controls.date.errors?.required">Date is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Total</mat-label>
    <input
      matInput
      formControlName="total"
      currencyMask
      [options]="currencyMaskOptions"
      #totalInput
      (keydown.enter)="onEnter()"
    />
    <span matPrefix>R$&nbsp;</span>
    <mat-error *ngIf="form.controls.total.errors?.min">Total must have a value</mat-error>
  </mat-form-field>

  <app-button-actions validationOnEnter>
    <a mat-raised-button [routerLink]="['../person']">Back</a>
    <a mat-raised-button color="primary" [routerLink]="['../', 'summary']" [disabled]="form.invalid" (click)="save()">
      Next
    </a>
  </app-button-actions>
</form>
