<a [routerLink]="[transaction.idTransaction]">
  <mat-card mat-ripple class="card-selectable">
    <div class="person">{{ transaction.personName }}</div>
    <div class="description">{{ transaction.name }}</div>
    <div class="total">{{ transaction.total | currency: 'R$' }}</div>
    <div class="total-received">{{ transaction.totalReceived | currency: 'R$' }}</div>
    <div class="total-to-receive">{{ transaction.totalToReceive | currency: 'R$' }}</div>
    <div class="date">{{ transaction.date | dateBr }}</div>
  </mat-card>
</a>
