:host {
  display: block;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
}

// prettier-ignore
.title {
  padding-left: 24px;
  padding-right:
   // accordion right padding
   24px +
   // accordion description right margin
   16px +
   // icon width
   8px;
  margin-bottom: .75rem;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-bottom: 0;
}

.mat-list-base .mat-list-item .mat-line {
  display: flex;
  justify-content: space-between;
}

.value {
  margin-right: 8px;
}

.no-data-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary {
  margin-bottom: 2rem;
}
