<h3>Now you will need to select the person or create a new one</h3>

<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Person *</mat-label>
    <input
      matInput
      formControlName="personName"
      [maxLength]="transactionCreateDto.personNameMaxLength"
      [minLength]="transactionCreateDto.personNameMinLength"
      [errorStateMatcher]="errorStateMatcher"
      [matAutocomplete]="autocomplete"
      (keydown.enter)="onEnter()"
      appAutoFocus
    />
    <mat-autocomplete (optionSelected)="onOptionSelected($event)" autoActiveFirstOption #autocomplete>
      <mat-option *ngFor="let person of people$ | async; trackBy: trackByPerson" [value]="person.name" [id]="person.id">
        {{ person.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.controls.personName.errors?.minlength">
      Person must have at least {{ transactionCreateDto.personNameMinLength }} characters
    </mat-error>
    <mat-error *ngIf="form.controls.personName.errors?.maxlength">
      Person must have less than {{ transactionCreateDto.personNameMaxLength }} characters
    </mat-error>
    <mat-error *ngIf="form.errors?.atLeastOneRequired">Person is required</mat-error>
    <mat-hint>Max {{ transactionCreateDto.personNameMaxLength }} characters</mat-hint>
    <mat-hint align="end">
      {{ form.controls.personName.value?.length ?? 0 }} / {{ transactionCreateDto.personNameMaxLength }}
    </mat-hint>
  </mat-form-field>

  <ng-container *ngIf="!form.controls.idPerson.value && form.controls.personName.value">
    <p>
      * A new person with the name "{{ form.controls.personName.value }}" will be created.
      <br />
      If you didn't mean that, please select a person when searching above
    </p>
  </ng-container>

  <app-button-actions validationOnEnter>
    <a mat-raised-button [routerLink]="['../name-and-description']">Back</a>
    <a
      mat-raised-button
      color="primary"
      [routerLink]="['../', 'date-and-total']"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Next
    </a>
  </app-button-actions>
</form>
